.container {
  width: max-content;
  position: absolute;
  bottom: -80px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto 2em auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  transform-origin: center;
  background-color: rgba(255,255,255,0.2);
  border-radius: 40px;
}

.menu {
  display: flex;
  justify-content: space-around;
}


.menu-item {
  width: 60px;
  height:60px;
  margin: 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 500ms cubic-bezier(0.75, 0.82, 0.165, 1);
  transform-origin: bottom;
}


.menu-item span {
  font-size: 9px;
  display: block;
  text-align: center;
  position: relative;
  top:-3px; 
  display: none;
  transition: 500ms cubic-bezier(0.75, 0.82, 0.165, 1);
}


.lightTheme  {
  color: #2A596D !important;
  transition: color 0.3s ease; 
}

.darkTheme {
  color: white !important;
  transition: color 0.3s ease; 
}


@media (max-width: 960px) {
  .menu {display: none;}
}

@media (max-height: 600px) {
  .menu {display: none;}
}