button, button:hover {
    background: none !important;
    outline: none !important;
    border: none !important;
}

.logo {
    position: absolute;
    top: 40px;
    left: 40px;
}

.app {
    padding-top: 40px;
}

.pokeball {
    position: absolute;
    top: 30px;
    right: 40px;
    animation: shaking .8s cubic-bezier(.455,.03,.515,.955) infinite both;
}

@keyframes shaking {
    0%,to {
        transform: rotate(0deg);
        transform-origin: 50% 100%
    }

    10% {
        transform: rotate(2deg)
    }

    20%,40%,60% {
        transform: rotate(-4deg)
    }

    30%,50%,70% {
        transform: rotate(4deg)
    }

    80% {
        transform: rotate(-2deg)
    }

    90% {
        transform: rotate(2deg)
    }
}



